<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	<!--namespace:理解成实现类的全路径（包名+类名）  -->
<mapper namespace="cn.zfy.mapper.FlowerMapper">
	<!--id:方法名
		parameterType:定义参数类型；
		resultType:返回值类型；
			如果方法返回值是list,写list中的泛型，mybatis对jdbc是一行一行读取数据；
	  -->
	<select id="selAll" resultType="cn.zfy.pojo.Flower">
		select * from flower
	</select>
	<select id="selById" resultType="int">
		select count(*) from flower
	</select>
	<select id="selMapByName" resultType="cn.zfy.pojo.Flower">
		select * from flower
	</select>
</mapper>