<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:aop="http://www.springframework.org/schema/aop"
    xmlns:context="http://www.springframework.org/schema/context"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans 
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/aop 
        http://www.springframework.org/schema/aop/spring-aop.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd" default-autowire="byName">
        
     <!-- 配置demo类 -->  
    <bean id="demo" class="cn.zfy.demo.Demo"></bean>
        
    <!-- 配置通知类对象，方便引用 -->  
    <bean id="mybefore" class="cn.zfy.advice.MyBeforeAdvice"></bean>  
    <bean id="myafter" class="cn.zfy.advice.MyAfterAdvice"></bean>
    <!--配置切面  -->
 	<aop:config>
 		<!-- 配置切点  -->
 		<aop:pointcut expression="execution(* cn.zfy.demo.Demo.demo())" id="mypoint"/>
 		<!-- 引用通知  -->
 		<aop:advisor advice-ref="mybefore" pointcut-ref="mypoint"/>
 		<aop:advisor advice-ref="myafter" pointcut-ref="mypoint"/>
 	</aop:config> 
 	
 	<!-- 异常通知 schema-base方式 -->
 	<bean id="mythrow" class="cn.zfy.advice.MyThrow"></bean>
 	<aop:config>
 		<aop:pointcut expression="execution(* cn.zfy.demo.Demo.demo())" id="pointcut"/>
 		<aop:advisor advice-ref="mythrow" pointcut-ref="pointcut"/>
 	</aop:config>
 	
 	<!-- 环绕通知  schema-base方式 -->
 	<bean id="myaround" class="cn.zfy.advice.MyAroundAdvice"></bean>
 	<aop:config>
 		<aop:pointcut expression="execution(* cn.zfy.demo.Demo.demo())" id="pointcut"/>
 		<aop:advisor advice-ref="myaround" pointcut-ref="pointcut"/>
 	</aop:config>
 	
  	
  	
  	
        
</beans>